<nav class ="header-container">
  <div class="site-title">
    <a href="/"><h1>Schooldemy</h1></a>
    <p>We love to have ya!</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">Courses</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/courses/create">Add new course</a></li> <!-- Updated link -->
    
  </ul>
</nav>
