<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')    %>

<body class="about-page">

  <%- include('./partials/nav.ejs')    %>
  
  <div class="about content">
    <h2>About us</h2>
    <p>Welcome to Schooldemy! We are passionate about education and dedicated to helping students succeed in various academic subjects. Here at Schooldemy, we cover a wide range of topics to ensure a well-rounded education for all our learners. Here’s a sneak peek into some of the subjects we focus on:</p>
    

    <h2></h2>
    
    
  </div>


  <%- include('./partials/footer.ejs')    %>

</body>
</html>
